/*! JS Frontend Integration for password strength indicator - 1.0.6 (c) United Internet, 2019 */
@font-face {
  font-family: "OpenSansRegularFallback";
  src: local("Open Sans"), local("OpenSans"), url("https://ce1.uicdn.net/exos/fonts/open-sans/opensans-regular.woff") format("woff"), url("https://ce1.uicdn.net/exos/fonts/open-sans/opensans-regular.woff2") format("woff2"); }

@font-face {
  font-family: 'exos-icon-font';
  src: url("https://ce1.uicdn.net/exos/icons/exos-icon-font.woff?v=2") format("woff"), url("https://ce1.uicdn.net/exos/icons/exos-icon-font.woff2?v=2") format("woff2");
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-transform: none; }

.oao-pwi-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

div.oao-pwi-strength-indicator-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1px;
  margin-top: 4px; }
  div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-3,
  div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-4, div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-5, div.oao-pwi-strength-indicator-container .oao-pwi-strength-indicator-6 {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: #B3B6B8;
    margin-right: 7px; }
  div.oao-pwi-strength-indicator-container .oao-pwi-strength-info {
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #B3B6B8;
    font-family: OpenSansRegular,Arial,Arial Narrow,sans-serif;
    font-size: 12px;
    line-height: 17px; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-3,
  div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-4, div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-5, div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-indicator-6 {
    background-color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-strong .oao-pwi-strength-info {
    color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-indicator-3, div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-indicator-4, div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-indicator-5 {
    background-color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-good .oao-pwi-strength-info {
    color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-average .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-state-average .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container.oao-pwi-state-average .oao-pwi-strength-indicator-3, div.oao-pwi-strength-indicator-container.oao-pwi-state-average .oao-pwi-strength-indicator-4 {
    background-color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-average .oao-pwi-strength-info {
    color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-weak .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-state-weak .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container.oao-pwi-state-weak .oao-pwi-strength-indicator-3 {
    background-color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-state-weak .oao-pwi-strength-info {
    color: #38cc59; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-warn-1 .oao-pwi-strength-indicator-1 {
    background-color: #ff9a00; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-warn-1 .oao-pwi-strength-info {
    color: #ff9a00; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-warn-2 .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-si-warn-2 .oao-pwi-strength-indicator-2 {
    background-color: #ff9a00; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-warn-2 .oao-pwi-strength-info {
    color: #ff9a00; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-1, div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-2, div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-3,
  div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-4, div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-5, div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-indicator-6 {
    background-color: #d60600; }
  div.oao-pwi-strength-indicator-container.oao-pwi-si-error .oao-pwi-strength-info {
    color: #d60600; }

div.oao-pwi-fatal-error-container {
  margin-top: 14px;
  color: #d60600; }

.oao-pwi-unveil, .oao-pwi-unveil-reverse {
  cursor: pointer; }
  .oao-pwi-unveil:before, .oao-pwi-unveil-reverse:before {
    font-family: 'exos-icon-font';
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
    content: '\E981'; }

.oao-pwi-unveil-reverse:before {
  content: '\E982'; }

.oao-pwi-input::-ms-reveal {
  display: none; }
